{include file='common/header'}
<body>
	<!-- 头部 -->
	{include file='common/top'}

	<!-- /头部 -->
	
	<div class="main-container container-fluid">
		<div class="page-container">
			            <!-- Page Sidebar -->
            {include file='common/sidebar'}
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                                        <li class="active">控制面板</li>
                                        </ul>
                </div>
                <!-- /Page Breadcrumb -->

                <!-- Page Body -->
                <div class="page-body">
                    
				<div style="text-align:center; line-height:1000%; font-size:24px;">
                THinkPHP5 简洁博客项目开发<br>
                <p style="color:#aaa;">本博客使用了bootstrapt自适应开发,适合手机、平板、电脑</p></div>
                </div>
                

                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
		</div>	
	</div>

	    <!--Basic Scripts-->
    <script src="{:config('admin_static')}/style/jquery_002.js"></script>
    <script src="{:config('admin_static')}/style/bootstrap.js"></script>
    <script src="{:config('admin_static')}/style/jquery.js"></script>
    <!--Beyond Scripts-->
    <script src="{:config('admin_static')}/style/beyond.js"></script>
    


</body></html>