<script src="../../../../public/static/plugins/jq.js"></script>{include file='common/header'}
<script type="text/javascript" src="/static/plugins/admin/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="/static/plugins/admin/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" src="/static/plugins/admin/ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" src="/static/plugins/jq.js"></script>

<body>
	<!-- 头部 -->
    {include file='common/top'}

	<!-- /头部 -->

	<div class="main-container container-fluid">
		<div class="page-container">
			            <!-- Page Sidebar -->
            {include file='common/sidebar'}
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                                        <li>
                        <a href="{:url('admin/index/index')}">系统</a>
                    </li>
                                        <li>
                        <a href="{:url('admin/article/index')}">文章管理</a>
                    </li>
                                        <li class="active">编辑文章</li>
                                        </ul>
                </div>
                <!-- /Page Breadcrumb -->

                <!-- Page Body -->
                <div class="page-body">

<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-blue">
                <span class="widget-caption">编辑文章</span>
            </div>
            <div class="widget-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        <!--编辑页带隐藏域-->
                        <input type="hidden" name="id" value="{$article['id']}">
                        <div class="form-group">
                            <label for="group_id" class="col-sm-2 control-label no-padding-right">文章标题</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="title" placeholder="" name="title" required="" value="{$article['title']}" type="text">
                            </div>
                            <p class="help-block col-sm-4 red">* 必填</p>
                        </div>
                        <div class="form-group">
                            <label for="group_id" class="col-sm-2 control-label no-padding-right">文章作者</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="author" placeholder="" name="author" required="" value="{$article['author']}" type="text">
                            </div>
                            <p class="help-block col-sm-4 red">* 必填</p>
                        </div>
                        <div class="form-group">
                            <label for="group_id" class="col-sm-2 control-label no-padding-right">文章简介</label>
                            <div class="col-sm-6">
                                <textarea class="form-control" name="desc" cols="" rows="">{$article['desc']}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="group_id" class="col-sm-2 control-label no-padding-right">关键字</label>
                            <div class="col-sm-6">
                                <input class="form-control" placeholder="" name="keywords" required="" type="text">
                            </div>
                            <p class="help-block col-sm-4 red">* 必填</p>
                        </div>
                        <div class="form-group">
                            <label for="group_id" class="col-sm-2 control-label no-padding-right">所属栏目</label>
                            <div class="col-sm-6">
                                <select name="cateid" id="">
                                    <option value="">请选择栏目</option>
                                    {foreach name='CateRows' item='cate' }
                                        <option value="{$cate['id']}">{$cate['catename']}</option>
                                    {/foreach}
                                </select>
                            </div>
                            <p class="help-block col-sm-4 red">* 必填</p>
                        </div>
                        <div class="form-group">
                            <label for="group_id" class="col-sm-2 control-label no-padding-right">缩略图</label>
                            <div class="col-sm-6">
                                <input class="form-control" name="pic" placeholder="" type="file">
                                <?php if($article['pic']): ?>
                                <img src="/static/uploads/{$article['pic']}" alt="">
                                <?php else: ?>
                                <span>暂无缩略图</span>
                                <?php endif; ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="group_id" class="col-sm-2 control-label no-padding-right">是否推荐</label>
                            <div class="col-sm-6">
                                <label for="group_id" class="control-label no-padding-right">
                                    <input class="checkbox-slider  colored-darkorange" name="state" type="checkbox" state_id="{$article['state']}">
                                    <span class="text"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="group_id" class="col-sm-2 control-label no-padding-right">文章内容</label>
                            <div class="col-sm-6">
                                <textarea name="content" id="content">{$article['content']}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">保存信息</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
		</div>
	</div>

	    <!--Basic Scripts-->
    <script src="{:config('admin_static')}/style/jquery_002.js"></script>
    <script src="{:config('admin_static')}/style/bootstrap.js"></script>
    <script src="{:config('admin_static')}/style/jquery.js"></script>
    <!--Beyond Scripts-->
    <script src="{:config('admin_static')}/style/beyond.js"></script>
    <script type="text/javascript">
        //实例化编辑器
        var ue = UE.getEditor('content');
        UE.getEditor('content',{initialFrameWidth:1600,initialFrameHeight:500});

        //选中栏目
        $("select[name='cateid']").val("{$article['cateid']}");

        //是否推荐按钮
        var state = $("input[name='state']").attr('state_id');
        if (state == 1) {
            $("input[name='state']").prop('checked',true);
        }
    </script>


</body></html>